<h1>contact</h1>
      <form> 
        <div class="sayhello col-md-4 col-sm-12">
          <div class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" id="name" placeholder="Name" required="required" title="Your name is a required field">
                <label class="sr-only" for="name">Name*</label>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="phone" placeholder="Phone">
                <label class="sr-only" for="phone">Phone</label>
            </div>
          </div> 
          <div class="form-group">
             <input type="email" class="form-control" id="email" placeholder="Email" required="required" title="Your email is a required field">
              <label class="sr-only" for="email">Email*</label>
          </div>
          <textarea placeholder="Your message here" style="resize:none" cols="40" rows="5" class="form-control message-box"></textarea>
            <p id="visible-comment"></p>
            <p id="char-count"</p>
          <button type="submit" id="submitForm" class="btn btn-primary btn-large">Submit</button>
        </div>
      </form>

