<div class="container" id="containercontact">
<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you for continuing to build our database of offerings!</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
</div>