<div class="container" id="containercontact">
<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you for your message! We have received it and will respond soon.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
</div>