// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.items {
	font-family: Verdana, Geneva, sans-serif;
	text-spacing: .4em;
}
th {
	padding: 50px;
}
.product-show {
	max-width: 530px;
}
.comments {
	
}